/* Reset / Сброс стилей */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--grey200);
}