.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    max-width: 20.43rem;
    width: 100%;
    max-height: 33.62rem;
    height: 100%;
    margin: 64px auto 65px auto;
    gap: 2rem;
    border-radius: 10px;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 50.34);
    position: relative;
}

.card-image {
    border-radius: 10px 10px 0 0; 
    overflow: hidden;
    position: relative;
    display: block;
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 0 1.87rem 1.12rem 1.87rem;
    gap: 3rem;
}

.card__text-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__title {
    color: var(--grey900);
}

.card__description {
    color: var(--grey500);
}

.card__author-row {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.card__author {
    display: flex;
    gap: 1rem;
}

.card__avatar {
    width: 40px;
    height: 40px;
}

.card__name {
    color: var(--grey900);
}

.card__date {
    color: var(--grey400);
}

.card__author-info {
    display: flex;
    flex-direction: column;
}

button.card__share {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/*SharePopup*/

.share-menu {
    display: flex;
    position: absolute;
    height: auto;
    width: 100%;
    background-color: var(--grey900);
    color: var(--grey400);
    border-radius: 0 0 10px 10px;
    padding: 16px 32px 16px 32px;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
}

.share-popup__close {
    background-color: var(--grey900);
    border: none;
}

.share-menu p {
    padding-right: 1.5rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons img {
    max-width: 20px;
    max-height: 20px;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    max-width: 608px;
    width: 100%;
    gap: 0;
  }

  .card__image-wrapper {
    width: 229px;
    height: auto;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
  }

  .card__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card__content {
    flex: 1;

    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .card__author-row {
    gap: 6rem;
  }

  /*SharePopup*/
  .share-menu {
    bottom: auto;
    left: auto;
    right: 0;
    top: 50%;
    transform: translate(25%, 70%);
    width: auto;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 12px 24px;
    max-height: 55px;
  }

  .share-menu p {
    padding-right: 0;
  }

  .share-menu::after {
    content: "";
    position: absolute;
    bottom: -11px;
    right: 100px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 12px solid var(--grey900);
  }

  .share-popup__close {
    display: none;
  }
}
